body {
  overflow: hidden;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.slides {
  position: relative;
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.slides > div {
  scroll-snap-align: start;
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 5%;
  cursor: pointer;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 84px;
}

.arrow.right {
  right: 50%;
}

.links-container {
  position: absolute;
  left: 0;
  right: 0;
  height: 15%;
  bottom: 0;
  text-align: center;
  font-size: 2vw;
}

.link-to-slide {
  display: inline-block;
  color: black;
  cursor: pointer;
  margin: 5px;
}

@media (max-width: 640px) {
  .arrow {
    display: none;
  }

  .links-container {
    height: 20%;
    font-size: 3vw;
  }
}
