@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  max-height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.slides {
  min-height: 100%;
  display: flex;
  overflow-x: hidden;
}

.slide {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
  transition-property: transform;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.content {
  width: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 6vw;
  user-select: none;
  cursor: pointer;
}

.arrow.right {
  right: 3.5%;
}

.arrow.left {
  left: 3.5%;
}

.links-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7.5%;
  text-align: center;
  font-size: 2vw;
  font-family: 'Roboto';
}

.link-to-slide {
  display: inline-block;
  color: black;
  cursor: pointer;
  margin: 0 1.5%;
  user-select: none;
}

.link-to-slide:hover,
.active {
  color: #2196f3;
}

.arrow:hover {
  color: whitesmoke;
}

.link-to-slide.active {
  border-bottom: 2px solid;
}

@media (max-width: 640px) {
  .arrow {
    display: none;
  }

  .links-container {
    bottom: 30%;
    font-size: 3vw;
  }
}
