@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  max-height: 100%;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.slides {
  min-height: 100%;
  display: flex;
  overflow-x: hidden;
}

.carousel {
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.slide {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
  transition-property: transform;
  will-change: transform;
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 5%;
  cursor: pointer;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 84px;
  font-size: 6vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow.right {
  right: 50%;
}

.links-container {
  position: absolute;
  left: 0;
  right: 0;
  height: 15%;
  bottom: 0;
  text-align: center;
  font-size: 2vw;
  font-family: 'Roboto';
}

.link-to-slide {
  display: inline-block;
  color: black;
  cursor: pointer;
  margin: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-to-slide:hover,
:focus,
.active,
.arrow:hover {
  color: cornflowerblue;
}

.link-to-slide.active {
  border-bottom: 2px solid;
}

@media (max-width: 640px) {
  .arrow {
    display: none;
  }

  .links-container {
    height: 30%;
    font-size: 3vw;
  }
}
