.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.slides {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
  position: relative;
  margin: 0 auto;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 5%;
  cursor: pointer;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 84px;
}

.arrow.right {
  right: 50%;
}

@media (max-width: 640px) {
  .arrow {
    display: none;
  }
}
